[2014-11-04 19:17] sebbrudzinski opened #1 "PDF preview"
The editor should allow side-by-side preview of the currently edited document. A PDF file should be displayed and updated as the changes to the file are made. Optionally, add the ability to hide the preview.

[2014-11-04 19:21] sebbrudzinski opened #2 "Syntax highlight"
The editor should recognise LaTeX syntax and highlight the code

[2014-11-04 19:24] sebbrudzinski opened #3 "Code completion"
The editor should allow auto code-completion, similar to what is present in various IDEs. A list of matching commands should be displayed as the user types the code. When no matches are found or the command has been finished, the list should dissapear.

[2014-11-04 19:28] sebbrudzinski opened #4 "Elegant compilation failures logging"
The editor should provide a tab, where compilation logs could be displayed. In case there was a compilation failure, editor should provide a link that brings user to the line, where the error was found.

[2014-11-04 19:32] sebbrudzinski opened #5 "Compile and build projects"
The editor should allow to compile and build projects, using the TeX version, to which user has pointed the application. The build status should be logged in a separate tab.

[2014-11-04 19:44] sebbrudzinski opened #6 "Application GUI"
GUI should be built using the NetBeans Platform framework. The main screen should be split into 3 parts: project structure tree, editing space and live preview. The most often used options should be surfaced somewhere on the main screen. The GUI should be simple and intuitive, so even less experienced users can use the editor without bigger problems.

[2014-12-14 18:24] #2 closed, assigned to sebbrudzinski

[2015-01-11 22:16] #1 closed

[2015-01-11 22:16] #3 closed

[2015-01-18 21:41] sebbrudzinski commented on #6
Simple GUI for the application is ready. For specific GUI issues, new cards will be created to track them.

[2015-01-18 21:42] #6 closed

[2015-01-18 21:48] sebbrudzinski opened #7 "Able to browse to pages that do not exist"
In the PDF preview, it is possible to browse to the pages that do not exists. This should not be posssible and ideally, the buttons should get deactivated, when the next/previous page does not exist.

[2015-01-18 21:50] sebbrudzinski opened #8 "Show total number of pages"
The PDF preview should display the current total amount of PDF pages.

[2015-01-18 21:52] sebbrudzinski opened #9 "Add ability to set path to LaTeX distribution"
Currently application assumes, that the path to the pdflatex will be set as environment variable. That is OK, however we should also provide users with an ability to set custom path. If no custom path is selected, we can use the old approach as default.

[2015-01-18 21:59] sebbrudzinski opened #10 "References to other files ignored (eg. cls)"
If the tex file that is edited in the application refers to any other file, it will fail to generate preview or generate PDF from the file.

[2015-01-18 22:00] sebbrudzinski opened #11 "Add ability to wrap lines"
Wrapping lines in the editor should be optional and disabled by default. It should be surfaced as an option in some general settings.

[2015-01-18 22:09] sebbrudzinski opened #12 "Open last file upon application startup"
When user opens the application, the last file that was worked on could get automatically opened. If the file does not exist anymore or if it's the first run, simply do not display anything.

[2015-01-20 11:18] sebbrudzinski opened #13 "Default LaTeX code at application startup"
The LaTeX document could welcome the user and mention current possibilities of the editor.

[2015-01-20 11:20] sebbrudzinski opened #14 "Appliction splash screen design"
Currently, the application uses default NetBeans platform splash screen. We should design our own splash screen and show them to the users while the editor is loading.

[2015-01-20 13:25] mstachniuk opened #15 "Support different encodings e.g. UTF-8"
When I open tex file on Windows, I see bad char encoding. File is saved in UTF-8, but Open-LaTeX-Studio use another encoding.
It should be possible to change encoding.

P.S. My first line in tex file look like this:
[code]

[2015-01-20 13:54] mstachniuk opened #16 "Add basic spelling check"

[2015-01-28 21:35] #13 closed

[2015-02-09 19:00] sebbrudzinski opened #17 "Occasional IOException having unbuildable code in editor"
The editor randomly shows IOException, when the code cannot be built. The stracktrace is shown below. We should handle this somehow.

`java.io.IOException: Error: End-of-File, expected line
	at org.apache.pdfbox.pdfparser.BaseParser.readLine(BaseParser.java:1535)
	at org.apache.pdfbox.pdfparser.PDFParser.parseHeader(PDFParser.java:320)
	at org.apache.pdfbox.pdfparser.PDFParser.parse(PDFParser.java

[2015-02-09 23:10] #17 closed

[2015-02-15 22:16] sebbrudzinski commented on #10
Should be fixed after migration to apache commons exec

[2015-02-15 22:17] #10 closed

[2015-03-15 22:26] #14 closed

[2015-04-02 18:21] sebbrudzinski opened #18 "Investigate and add support for remote collaboration using Dropbox API"

[2015-04-02 18:26] sebbrudzinski opened #19 "Add ability to expand list of autocomplete terms via property files"
The files should be placed in some accessible directory, preferably somewhere in the application directory. Users would be able to expand the autocomplete terms by placing their own files in the directory.

[2015-05-04 21:17] sebbrudzinski opened #20 "Mark dropbox actions as enabled/disabled dynamically"
Currently all Dropbox actions are enabled by default, even when authentication token is not set. We should add some dynamic check for the presence of the token and enable/disable menu actions accordingly.

[2015-05-04 21:22] sebbrudzinski opened #21 "Auto-sync files to Dropbox"
Currently to save files to Dropbox, user has got to manually trigger the action, by selecting "Save progress" action in menu. We could add an ability to enable auto-sync file every specified amount of time.

[2015-05-05 20:23] sebbrudzinski opened #22 "Refactor Dropbox support to separate module"
Dropbox support is a separate functionality. It would be good to place it in a separate module.

[2015-05-10 16:59] sebbrudzinski opened #23 "Add ability to zoom PDF preview"
Currently, the PDF preview has got a fixed size. We should allow user to change that setting at runtime.

[2015-05-17 13:41] #9 closed

[2015-05-17 17:49] #18 closed

[2015-05-17 17:52] sebbrudzinski opened #24 "Add a toolbar with some most used LaTeX commands"
They might be grouped - eg. general, math symbols, typography, etc.

[2015-06-09 12:30] necsup commented on #7
I have fixed this so that it will not go past the last page or below page 1. I will add the functionality of deactivating the buttons shortly.

[2015-06-10 20:14] sebbrudzinski opened #25 "Auto discovery of LaTeX distribution"
On Windows it is currently required to point the application to the LaTeX distribution directory in the application settings. This can be improved by adding some basic auto discovery of installed LaTeX distribution, in case nothing has been set in the application settings. The user settings should of course always have priority over auto-discovery.

[2015-06-10 20:41] sebbrudzinski opened #26 "Comment out selected part of tex code"
Add a new menu option in the "Edit" section, that will allow to comment/uncomment currently selected part of the tex source code. A keyboard shortcut should be created to allow these operations as well.

[2015-06-10 21:08] sebbrudzinski opened #27 "Add some LaTeX templates and ability to use them in Open LaTeX Studio"
As a part of this ticket we should first create some sample LaTeX templates - for example for articles, letters, books, CVs and add them to the code repository. We should then allow to load such templates in the Open LaTeX Studio. This should be exposed as an option in the File menu (perhaps named Open template).

[2015-06-17 19:44] sebbrudzinski commented on #7
Hey! Glad to hear you are working on this. Can you update us on the status of this issue? Can we expect it any soon? Are there any problems that are preventing completing this?

[2015-06-17 19:58] necsup commented on #7
hey, sorry i didn't update lately. I have been studying for some job
interviews, I have one tomorrow, so I want to do this update over this
weekend.
On Jun 17, 2015 9:44 PM, "Sebastian Brudziński" <notifications@github.com>
wrote:

[2015-06-20 13:09] sebbrudzinski commented on #23
Fixed by @GregHNZ

[2015-06-20 13:09] #23 closed

[2015-06-30 18:06] sebbrudzinski opened #29 "Better UI for Dropbox revisions"
When opening a file from the Dropbox account, a new window will become available at the bottom of the application, containing a list of dropbox revision. Currently the revision is represented as a long String, containing basic information about revision: id, date modified, size... it would be preferable to present the data in some kind of a table and make it more obvious, that double click will op

[2015-07-02 13:18] LloydBG opened #30 "Incorrect labels for Open file window"
Description:
The Open file window does not have the correct labels. It can be mistaken for Save file window thus it can confuse the user.

Steps to Recreate:
1. Open LaTex Studio
2. Navigate to menu bar File > Open File

Expected Result:
The Open File window have the correct labels

Actual Result:
The Open File window have incorrect labels

Screenshot:
Windows 7
![image](https://cloud.githubuserco

[2015-07-02 13:34] LloydBG opened #31 "PDF preview window does not match the text in the Text Editor window"
Description:
The pdf preview windows does not match the text in the Text Editor window.

Steps to Recreate:
1. Open LaTex Studio
2. Open a document to edit or update
3. Type "<" and ">" without the quotation marks

Expected Result:
The pdf preview window should display both "<" and ">" correctly

Actual Result:
The pdf preview windows displayed and inverted "!" and "?"

Screenshot:
Windows 7
![ima

[2015-07-02 13:46] LloydBG opened #32 "The title of the document in the Text Editor doesn't update when changes are made and saved"
Description:
The title of the document in the Text editor window doesn't update when the working file is saved or updated in a new document.

Steps to Recreate:
1. Open LaTex Studio
2. Open an Existing Document
3. Make Changes to the Document
4. Save the updated document using a new name

Expected Result:
The title of the document in the Text editor window reflects the file name of the document sa

[2015-07-03 13:11] LloydBG opened #33 "The Math symbol-Integral sign is not being displayed in the pdf preview window"
Description:
The PDF preview window doesn't display the integral sign. When the tex file generates a PDF, the integral sign is displayed.

Steps to Recreate:
1. Open LaTex Studio
2. Open Existing Document
3. type \usepackage{amsmath} in the preamble section of the document
4. At the body of the document type
\begin{equation*}
x = \int^0_5 y^2 +7
\end{equation*}

Expected Result:
The pdf preview wi

[2015-07-04 20:51] #32 closed

[2015-07-04 21:08] sebbrudzinski commented on #30
Labels have been fixed and should now display approperiately, depending on the selected action.

[2015-07-04 21:08] #30 closed

[2015-07-04 21:13] sebbrudzinski opened #34 "Add "Save As" to the file menu"
Currently the save button always works as "save as", meaning that the user is forced to pick a location each time they want to save their changes. We should adjust this, so the save button saves the file that is currently worked on and the new "save as" option works as current "save".

[2015-07-04 21:17] sebbrudzinski opened #35 "Notify about unsaved changes"
In case the user is working on some certain file, we should display an information about whether the file is in a dirty state or no (ie. if it has been saved since last edit). In case the file has been edited, but not saved, we might either make the file name in the editr tab bold or add an asterix sign to the file name (this seems to be current convention in most text / code editors).

[2015-07-06 05:49] LloydBG commented on #30
Issue is not 100% fixed. Linux environment still has the incorrect labels as seen in the screenshot.

[2015-07-06 05:54] LloydBG commented on #32
Issue is not 100% fixed. Issue is still existing when working on Linux environment

[2015-07-07 12:38] LloydBG opened #36 "User is able to open a file that doesn't exist"
Description:
User is able to open a file that doesn't exist.

Steps to Recreate:
1. Open Open-LaTex-Studio
2. Navigate to File>Open File
3. Open a file that doesn't exist

Expected Result:
A pop up warning to tell the user that the specified file doesn't exist and returns the user to the Open file window

Actual Result:
The user is able to open a file that doesn't exist.

Affected Environment:
Win

[2015-07-08 13:25] LloydBG opened #37 "PDF preview window doesn't update after clicking the Undo/Redo button"
Description:
PDF preview window doesn't update after clicking the Undo/Redo button

Steps to Recreate:
1. Open LaTex Studio
2. Open a document to edit
3. Make changes to the document
4. Click the undo button

Expected Result:
The PDF preview window must be identical on the text displayed or written in the text editor window after clicking the Undo/Redo button

Actual Result:
The PDF preview window

[2015-07-09 07:26] Labelpm commented on #36
Hi ebbrudzinski I've fixed this issue, please take a look at repository.

[2015-07-09 08:00] sebbrudzinski commented on #36
Hi! Could you please create a pull request from your repository? We will then take a look at this and merge if it indeed resolves the issue. Cheers :)

[2015-07-09 09:12] Labelpm commented on #33
Sign SUM not being displayed as well as an integral sign
Sum  $\sum_{n=1}^{\infty} 2^{-n} = 1$ inside text

[2015-07-09 10:34] Labelpm commented on #36
 Hi Sebastian,  Done.  Thank, 09.07.2015, 11:00, "Sebastian Brudziński" <notifications@github.com>:Hi! Could you please create a pull request from your repository? We will then take a look at this and merge if it indeed resolves the issue. Cheers :)—Reply to this email directly or view it on GitHub. 

[2015-07-10 05:51] LloydBG opened #39 "Overwrite File feature"
The Open-LaTeX Studio doesn't have an overwrite feature for the pdf files generated by the user. Overwrite feature must have a pop-up warning to warn users that saving the file with the same File name in the directory will overwrite the existing pdf. This pop-up warning will also help users from accidentally overwriting their files.

[2015-07-10 06:07] LloydBG opened #40 "Undo and Redo Button Feature"
The Open-LaTeX-Studio has a Undo and Redo features but these feature only works between the code changes in the working document. An improve Undo and Redo feature will allow the user to undo/redo changes within the application. For example, User opens "Document A", then the user opens another document named "Document B". The current working document is the "Document B" when the user clicks the Und

[2015-07-10 06:59] LloydBG commented on #36
RETEST FAILED

The issue is still occurring for both Windows 7 and Linux - Ubuntu 14.04.2. This was retested using the latest code changes.

Windows 7
![image](https://cloud.githubusercontent.com/assets/13062974/8613569/01f84536-2713-11e5-8671-e4709f97fce5.png)

Linux - Ubuntu 14.04.2
![image](https://cloud.githubusercontent.com/assets/13062974/8613607/81e863c0-2713-11e5-928f-c08642cfb010.png)

[2015-07-10 10:13] sebbrudzinski commented on #36
Did you download the pull request? The change is not yet in the Open LaTeX Studio codebase

[2015-07-10 11:02] LloydBG commented on #36
@sebbrudzinski I'm sorry but how can I download the pull request?

[2015-07-13 02:30] LloydBG commented on #36
RETEST PASSED

Description:
When the user try to open a file which doesn't exist the user is automatically redirected to the home screen after clicking "open" button.

Issue:
@sebbrudzinski
My concern is can we add a pop up warning to a user when he is trying to open a file which doesn't exist and after he confirms the warning he will be redirected back to the Open file window?

[2015-07-13 08:21] Labelpm commented on #36
@LloydBG Please pull it's again.

"and after he confirms the warning he will be redirected back to the Open file window?"
About this one, my suggestion is allow only a dialog box and leave user on home page,  it's a common practice

[2015-07-13 10:46] rbanna01 commented on #34
I'm interested in giving this a shot.

[2015-07-13 10:54] sebbrudzinski commented on #34
Sure! You are welcome to start working on this issue. In case of any questions or troubles, let us know here or via mailing list. Once you have finished the issue, create a pull request, so we can review this :)

[2015-07-13 12:05] LloydBG commented on #36
@Labelpm yeah a dialog box will do. I guess redirecting the user to the home page will also be good, I just found a software that redirects the user to the open file window that's why I suggest it :)

[2015-07-13 13:19] Labelpm commented on #37
Fixed, please pull from my repository
@LloydBG @sebbrudzinski

[2015-07-13 18:47] sebbrudzinski commented on #36
Fixed by @Labelpm Thanks! :)

[2015-07-13 18:47] #36 closed

[2015-07-14 01:31] LloydBG commented on #37
@sebbrudzinski @Labelpm

Would I be able to test this if there is no pull request for this issue?

[2015-07-14 02:12] LloydBG opened #42 "New File feature"
New File feature allows the user to create a new file to work on.

@sebbrudzinski I would like to know your thoughts regarding this feature and when a user creates a new file where would this file be opened, will it be opened on the current working document or a new tab in the text editor will be added?

[2015-07-14 04:05] LloydBG opened #43 "Unable to Save file"
Description:
The user is unable to save a new file from the application. A dialog box with the message "File not found" is displayed.

Steps to Recreate:
1. Open Open-LaTeX-Studio
2. Save the Welcome.tex document
3. Give a new file name to the file (Name which still doesn't used in the current directory)
4. Click save button

Expected Result:
The file is saved inside the directory selected

Actual

[2015-07-14 16:58] sebbrudzinski commented on #43
This is something that has been missed testing recent pull request. I'll try to submit fix to this quickly.

[2015-07-14 17:16] sebbrudzinski commented on #43
This should be fixed now. @LloydBG could you verify this works as expected for various combinations? Saving/Opening files/Generating PDFs for files that doesn't/do exist. Thanks in advance!

[2015-07-14 17:16] #43 closed

[2015-07-14 17:18] sebbrudzinski commented on #42
I'd say whoever decides to pick this up should first provide their vision of that feature for our approval, either here or on the mailing list.

[2015-07-14 17:37] sebbrudzinski commented on #37
@LloydBG This was a part of the pull request that has been merged in. It did fix the issue, but it was not a proper way to do so (basically sending preview refresh requests all the time). If Labelpm fixes this, it will be in a brand new pull request.

[2015-07-16 01:59] LloydBG commented on #43
@sebbrudzinski Retest passed! The user can now save new files and would not be able to open files which doesn't exist.

[2015-07-17 03:05] LloydBG commented on #37
@sebbrudzinski This is fixed. Undo/Redo buttons are working as expected

[2015-07-17 03:20] LloydBG commented on #34
@sebbrudzinski I tested rbanna01's pull request and It is working as expected. 'Save file' saves the current changes in the document. 'Save As' allows the user to save the file in different location and a warning dialog box is displayed when the user tries to overwrite an existing document.

[2015-07-17 13:15] sebbrudzinski opened #45 "Preapre wiki page on downloading and reviewing pull requests"
The page should explain how to download the code on your local machine and how to test it.

[2015-07-17 13:24] sebbrudzinski commented on #37
Thanks for testing this @LloydBG I've reviewed the code and tested the change. It looked good to me, so the pull request is now merged. Thanks for fixing this issue @Labelpm

[2015-07-17 13:24] #37 closed

[2015-07-19 21:18] sebbrudzinski opened #46 "Improve setting LaTeX distribution path, by verifying whether pdflatex is present in the given directory"
Open LaTeX Studio makes extensive use of the pdflatex tool. This means that the usage of the editor is only possible if Open LateX Studio has got access to this tool. It is possible to set the path to the LaTeX distrubution (Tools -> options -> LaTeX), but this path is not verified in any way. We should verify the path pointed by the user and notify them, if the selected path does not contain pdfl

[2015-07-20 17:30] sebbrudzinski opened #47 "Add timestamps to logs"
Currently the editor logs do not provide any time or date with the entries. We should add a simple timestamp, that would preceed every entry in the logs.

[2015-07-20 17:31] sebbrudzinski opened #48 "Add ability to clear logs"
A simple button should be added, somewhere in the logs window, that clears all the messages.

[2015-07-20 18:00] sebbrudzinski opened #49 "Customization: Add ability to pick colors for syntax highlight"
Open LaTeX Studio currently uses default color scheme for syntax highlight. We should make it possible for users to change that scheme to their preference. This should be exposed in the Tools -> Options window and should make it possible to use color picker for certain types of tokens - comments, keywords, etc...

[2015-07-21 19:37] Labelpm commented on #26
Hi @sebbrudzinski, could you please add an example, how should look commented text  and provide the example of multi-selection

Does it mean, you would like to add a comment sign at the beginning of the string ?

%Thanks for trying out the Open \LaTeX{} Studio - an Open Source \LaTeX{} editor.
%Please note, that the

[2015-07-21 19:44] sebbrudzinski commented on #26
@Labelpm  Yes, adding % at the beginning of each selected line should be sufficient for now. If 3 lines are selected - add % at the beggining of these 3 lines, if there's no selection, we should comment out a single line, where the cursor is currently placed. Note that the action should be surfaced in the menu and as a keyboard shortcut.

[2015-07-24 13:11] Labelpm commented on #26
@Please check pull request

[2015-07-24 23:02] GaboFDC commented on #47
I sent pull request #51, proposing a solution for this.

[2015-07-25 03:38] hudsongeovane commented on #46
I have implemented the pdflatex.exe verification. I made some mistakes, but already fixed in pull request #52

[2015-07-25 04:22] hudsongeovane commented on #48
I have added the button :^)

[2015-07-25 18:27] sebbrudzinski commented on #48
Fixed by @hudsongeovane, thanks! :)

[2015-07-25 18:27] #48 closed

[2015-07-25 18:28] sebbrudzinski commented on #46
Fixed by @hudsongeovane, thanks :)

[2015-07-25 18:28] #46 closed

[2015-07-25 18:40] hudsongeovane commented on #39
I take this.

[2015-07-25 19:15] sebbrudzinski opened #53 "Integrate checkstyle plugin with the build"
Since more and more contributors are eager to join the project, it is a good time to start thinking about the code standards in the Open LaTeX Studio. Checkstyle plugin is a perfect tool to enforce some coding rules within the project. More references:
http://checkstyle.sourceforge.net/
http://checkstyle.sourceforge.net/anttask.html

The plugin should scan all the java classes within the project a

[2015-07-27 16:59] sebbrudzinski commented on #47
Fixed by @GaboFDC, thanks :)

[2015-07-27 16:59] #47 closed

[2015-07-27 16:59] sebbrudzinski commented on #39
Fixed by @hudsongeovane, thanks :)

[2015-07-27 16:59] #39 closed

[2015-07-27 19:30] GaboFDC commented on #8
I take this

[2015-08-04 08:12] GaboFDC commented on #33
I was checking and it semss to be a buf in the PDPage.convertToImage so i reported this: https://issues.apache.org/jira/browse/PDFBOX-2915

[2015-08-04 08:23] GaboFDC commented on #33
Also, while debugging made this change:

[code]

[2015-08-05 17:11] mylk13 commented on #29
I will try to do this

[2015-08-05 17:31] sebbrudzinski commented on #29
@mylk13 Awesome! In case of any questions or troubles, do not hesitate to ask us!

[2015-08-05 17:31] mylk13 commented on #29
//Previous comment accidentially deleted.

[2015-08-05 18:21] mylk13 commented on #29
Values of "dropbox.appKey" and "dropbox.appSecret"
in: "EditorModule\src\latexstudio\editor\resources\dropbox.properties" are null.
Trying to connect to dropbox throws an exception.

[2015-08-05 18:40] sebbrudzinski commented on #29
You will need Dropbox developer account to connect to Dropbox. See our wiki: https://github.com/sebbrudzinski/Open-LaTeX-Studio/wiki#dropbox-collaboration-development

[2015-08-07 17:05] sebbrudzinski commented on #29
Fixed by @mylk13, thanks :)

[2015-08-07 17:05] #29 closed

[2015-08-07 17:07] sebbrudzinski commented on #53
Checkstyle is now integrated with the build. You can run the check and generate the file containing report using the checkstyle ant target

[2015-08-07 17:07] #53 closed

[2015-08-07 17:09] sebbrudzinski opened #58 "Add "View revision" button to dropbox revisions table"
Currently, the only way to view a dropbox revision is to double-click on the revision we want to view. It may not be clear for the users, that double click will show them the revision, therefore as an additional option we should expose a button, that says "view revision". A single click on the button should open the revision.

[2015-08-07 17:12] sebbrudzinski opened #59 "Fix checkstyle errors"
Checkstyle plugin has already been integrated with the build. We should now fix the issues that it is currently reporting. The checkstyle plugin can be run using the ant target, called "checkstyle". In NetBeans, this can be achieved right-clicking on the Important Files -> Build Script and selecting Run target -> checkstyle. The report will be generated in the Project directory and will be called

[2015-08-11 17:41] hudsongeovane commented on #26
News about this?

[2015-08-11 18:34] sebbrudzinski commented on #26
@hudsongeovane The pull request has been reviewed, but the feature does not work properly yet. See https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/50

[2015-08-12 11:18] hudsongeovane commented on #42
Hello guys!
I can try this one.

What I think is:
"New File" (maybe Ctrl+N?) feature will create a new tab in the editor (just next the current file) with empty content and with "new file" name.

Waiting for instructions.
Cheers.

[2015-08-12 16:59] sebbrudzinski commented on #42
Sounds good, but there are some more challenges in this ticket. The PDF preview gets automatically refreshed every few seconds - if the user has got more than one tab opened, we must handle the generation of the preview from the currently opened tab. Moreover, all tabs should be closeable - when a tab is closed, a prompt should pop up in case the changes have not been saved.

[2015-08-12 20:26] GaboFDC commented on #59
I tried, the build fails and the report show the lines to be fixed.
I can take this.

[2015-08-15 16:41] GaboFDC commented on #7
Hi @necsup
Are you still working on this?
If you are busy I could take care of it.

[2015-08-15 17:09] GaboFDC commented on #11
Hi, I think I can take this, but I was checking and didn't figure out where to add the setting for the user. If you could guide me, I could finish it.

[2015-08-15 17:11] sebbrudzinski commented on #11
@GaboFDC I suppose it could be a checkbox menu item, under "Edit"

[2015-08-17 10:24] sebbrudzinski commented on #26
Fixed by @Labelpm

[2015-08-17 10:24] #26 closed

[2015-08-17 10:26] sebbrudzinski commented on #7
@GaboFDC I believe this is up for grabs. There was no information or pull request for this for over 2 months.

[2015-08-17 10:41] sebbrudzinski commented on #35
Fixed by @hudsongeovane

[2015-08-17 10:41] #35 closed

[2015-08-17 10:41] sebbrudzinski commented on #34
Fixed by @rbanna01 and @hudsongeovane

[2015-08-17 10:41] #34 closed

[2015-08-17 10:45] sebbrudzinski opened #61 "Adjust save/save as icon to look alike"
The save and save as options should have icons that look similar to each other. Preferably, it should tbe the same icon, but with some small mark added to distinguish one from another (eg. adding a pen in front or a green plus sign).

[2015-08-17 15:39] Labelpm commented on #7
@GaboFDC Are you working on this feature, if you don't let me know please, I'm going to take it.

[2015-08-17 19:21] GaboFDC commented on #7
@Labelpm take it :)

[2015-08-25 08:37] rbanna01 commented on #12
Will take this if it's not already taken.

[2015-08-25 14:36] sebbrudzinski commented on #12
@rbanna01 sure, feel free to take it

[2015-09-09 10:37] rbanna01 commented on #12
@sebbrudzinski Think it's ready for testing.

[2015-09-09 12:11] sebbrudzinski commented on #12
@rbanna01 - where is the commit/commits? I cannot see any new pull request.

[2015-09-09 21:29] rbanna01 commented on #12
@sebbrudzinski Sorry, should be up now.

[2015-09-17 18:24] sebbrudzinski commented on #59
Fixed by @GaboFDC  many thanks!

[2015-09-17 18:24] #59 closed

[2015-12-12 11:28] glandre opened #63 "Remember last path"
When a path is chosen one time (e.g., when saving a .tex file, or changing the LaTeX distribution directory) it could be remembered for the next time, so that the user saves time if he/she wants to save a new document in the directory previously used.

[2015-12-12 11:43] glandre commented on #58
I'm going to start working on it.

[2015-12-13 11:18] mylk13 commented on #63
I will try to do this one.

[2015-12-13 18:57] glandre commented on #63
Hi Mateusz, I am already working on it.
Em 13/12/2015 08:18, "Mateusz Makowski" <notifications@github.com> escreveu:

[2015-12-14 22:07] sebbrudzinski commented on #63
Fixed by @glandre Thanks!

[2015-12-14 22:07] #63 closed

[2015-12-28 23:47] sebbrudzinski commented on #8
Fixed by @GaboFDC

[2015-12-28 23:47] #8 closed

[2015-12-28 23:57] sebbrudzinski opened #67 "Make auto-complete list display interval configurable"
Currently, the auto-complete list will appear after 700 miliseconds after the first few characters have been typed. We should make this configurable through tools -> options -> LaTeX

[2016-01-03 14:02] #61 closed

[2016-02-25 18:07] sebbrudzinski opened #69 "Document project coding standards"
Lately, we have integrated the checkstyle plugin with the Ant build. The checkstyle plugin is responsible for verifying and enforcing coding standards in the project. The checkstyle rules are heavily based on the Java coding conventions by Oracle. It's a good time to prepare a wiki page, that lists at least some of the most important rules, that are often broken in the new pull requests (braces pl

[2016-02-25 18:15] sebbrudzinski opened #70 "Add an option to disconnect from Dropbox"
Currently, when the user connects the application with Dropbox, there's no way to disconnect (aka logout), unless a new user is signed in. We should add an option for signing out.

[2016-02-25 18:19] sebbrudzinski opened #71 "Add keyboard shortcut for saving file"
We should add the support for ctrl+S shortcut, that saves the current file or opens a save as dialog, if no file was opened yet.

[2016-02-25 18:39] sebbrudzinski commented on #7
Since there was no activity here for over half a year, I've resolved this in 33c507cdca53220a2c611acee44ded27d27d0d07

[2016-02-25 18:39] #7 closed

[2016-02-25 21:40] sebbrudzinski commented on #58
Fixed by @glandre Thank You :)

[2016-02-25 21:40] #58 closed

[2016-02-25 21:45] sebbrudzinski opened #72 "NullPointerException on double click in Dropbox Revisions table"
Repro steps:
* Open application but do not open any remote Dropbox file
* In Window menu click on Dropbox Revisions, what opens a revision table at the bottom of the application
* Double click any row
* See exception

Ideally, the table should not have any rows if no dropbox file is loaded. Also no exception should appear, no matter what I click.

[2016-02-25 21:48] glandre commented on #72
I noticed that too. I'll take it.

[2016-02-25 22:01] sebbrudzinski opened #73 "Add some sort of info about present connection with Dropbox account"
The application UI should present some sort of check, that displays whether the application is currently authenticated with Dropbox. Since the connection to the Dropbox account is remembered even after the application is reopened, there's no other way to verify if the connection is open, than attempting to open/save some files to Dropbox. We could also display some info about user, for example: "C

[2016-02-25 23:57] glandre commented on #70
Working on it.

[2016-02-26 22:42] sebbrudzinski opened #75 "Prepare GitHub templates for pull requests and issues"
GitHub offers a way for projects for defining templates, while creating pull requests and issues (see more info here: https://github.com/blog/2111-issue-and-pull-request-templates). The templates will be filled in the text boxes and may contain guidelines for contributors on what information to include with created pull request or how to properly report a bug / submit an enhancment issue. As a par

[2016-02-27 21:12] #72 closed

[2016-02-27 21:13] sebbrudzinski commented on #72
Fixed by @glandre :)

[2016-02-28 07:10] glandre commented on #73
Working on it.

[2016-02-28 19:23] sebbrudzinski opened #77 "Better project website"
Our current website, located at http://sebbrudzinski.github.io/Open-LaTeX-Studio/ is a simple website, generated by GitHub. Since website is the first thing end-users pay attention to, we should work on improving it. The first step is to completely redesign the site UI (we stick to static HTML/CSS website). Some free website templates may be used for this. Another thing is to update the info and p

[2016-02-29 19:09] sebbrudzinski commented on #70
Resolved by @glandre

[2016-02-29 19:09] #70 closed

[2016-03-01 19:37] sebbrudzinski commented on #77
You can see the progress at http://sebbrudzinski.github.io/Open-LaTeX-Studio/test/

[2016-03-06 21:40] sebbrudzinski commented on #77
Revamed website is ready!
http://sebbrudzinski.github.io/Open-LaTeX-Studio

[2016-03-06 21:40] #77 closed

[2016-03-09 20:18] LordFarin opened #78 "Find LaTeX distribution directory asks for confirmation upon "Cancel""
During the initial setup of this project I ran into the first issue already.

When selecting the LaTeX directory from the options menu, hitting Cancel will bring up the confirmation popup for the pdflatex package not being found.

This seems undesirable because Cancel should always close the dialogue.

[2016-03-11 18:49] adamcrussell opened #79 "release as a plugin?"
This project is great, and I am very glad I came across it. I do a lot of other development in NetBeans (JavaScript, Perl, Java) and since this project is based on the NetBeans platform, is there any chance of releasing a version of this as a NetBeans plugin? This would be great for developers that would want to stay in the same environment for all their projects, including LaTex.

[2016-03-12 17:17] sabbir044 commented on #71
Hello sebbrudzinski, I want to complete this issue.
I actually finished it and will do a pull request once you give me the permission.

[2016-03-12 17:40] sebbrudzinski commented on #71
Hello @sabbir044
Sure thing, go ahead and submit a pull request :) You do not require anyone's permission to do so.

[2016-03-13 12:57] sebbrudzinski commented on #71
Fixed by @sabbir044  Thanks :)

[2016-03-13 12:57] #71 closed

[2016-03-15 02:17] sabbir044 commented on #67
I think I am going to implement that.

[2016-03-19 22:18] glandre opened #83 "Save action overwriting a file without confirmation"
Repro steps:
- Open application
- Click Save Button (File->Save and Ctrl+S produces the same as well)
- At the Save Window (FileChooser), choose an existing file
- The file is saved overwritig the previous existing file

Ideally, in my opinion, it should work like **Save As** action, which asks for confirmation.

[2016-03-20 10:47] WhiteHsu commented on #83
Hello,
I'm the new comer of this project. My name is White Hsu. I have development experience and have already built source codes. So may I take this issue as my 1st task to get started with Open-LaTeX? Please kindly help suggest. Thank you very much.  :-)

[2016-03-20 12:06] sebbrudzinski commented on #83
Hello @WhiteHsu
Yes, this is a great task to get you started with Open LaTeX Studio. In general, all issues marked with "Community friendly" label are identified by us as good starter tasks. Feel free to work on this :)

[2016-03-20 12:23] sebbrudzinski commented on #33
It looks like this has been fixed in PDFBox 2.0.0 which is now released https://pdfbox.apache.org/index.html
We should consider migrating to new PDFBox.

[2016-03-20 21:19] koppor opened #84 "Support split screen"
When editing a huge document, it is very helpful if one can edit the same document with two views. Windows -> split would be menu action.

[2016-03-20 21:28] sebbrudzinski commented on #84
Thanks for submitting this issue @koppor
I'm a little confused on how this would be suposed to work. Would it just be another PDF preview panel, where you could select another page?

[2016-03-21 03:12] glandre opened #86 "Revisions List is not updated when a Revision is Restored"
Repro steps:
- With an already opened file (which is stored in Dropbox), notice the Revisions List
- Trigger "View Revision" in one of the revisions displayed on Revisions List
- When the revision is open, trigger "Restore this revision"
- The file is updated on Main Tab, but the Revisions List is not.
- **Notice** that, after trigger "View Revision" again, than the Revisions List is updated.

It

[2016-03-21 03:21] glandre opened #87 "Revision Display is not cleaned when another file is opened from Dropbox"
Repro steps:
- With an already opened file (which is stored in Dropbox), notice the Revisions List
- Open a different file from Dropbox via "Open from Dropbox"
- The Revisions List is updated with the revisions of the lastly opened file
- However, the Revision Display keeps opened with the last revision being displayed
- **Notice** that, because of that, it is possible to restore that revision (wh

[2016-03-21 03:43] glandre opened #88 "Add or Remove files directly in Dropbox does not update the list displayed on 'Open file from Dropbox' Window"
Repro steps:
- Upload a file to Dropbox via OpenLatexStudio
- Close OpenLatexStudio
- Upload a file to Dropbox directly via Dropbox
- Open OpenLatexStudio
- Trigger Open from dropbox
- Only the first file is available
- **Notice** that after creating another file and uploading it to Dropbox the list is updated and all three files appears

Ideally, the list should always be retrieved when 'Open fro

[2016-03-21 08:18] koppor commented on #84
I meant the `tex` source. Here as screenshot of [Emacs with AUCTeX](http://tex.stackexchange.com/a/356/9075):

![grabbed_20160321-091435](https://cloud.githubusercontent.com/assets/1366654/13913290/86cdc18c-ef45-11e5-8cfb-c54e4d2d8d7f.png)

The **same** `tex` file is shown in the two windows. If I insert something in the upper window, it is immediately shown in the lower window, too and vice versa

[2016-03-21 18:02] sebbrudzinski commented on #84
Thanks for the explanation @koppor :) It sounds like a cool feature to have in Open LaTeX Studio

[2016-03-21 18:52] sebbrudzinski commented on #88
@glandre Did the file you uploaded had the ".tex" extension? We currently only display files from Dropbox that have the ".tex" extenstion.

[2016-03-21 22:16] sebbrudzinski opened #90 "Add generic settings change provider"
There's currently no easy and pretty way to listen to settings change in Open LaTeX Studio. One of the workarounds is registering your own PropertyChangeListeners to react to changed settings. Since the publisher-subscriber model will most likely be useful with many other settings, we should look into implementing a nice, generic way to subscribe to chosen/all properties change events.

[2016-03-21 23:51] LordFarin commented on #90
I've been looking into this article: https://dzone.com/articles/better-data-binding-model.
The ideas behind it seem sound but I haven't translated it to the context of Open LaTeX Studio yet.

[2016-03-22 09:04] sabbir044 commented on #11
@sebbrudzinski @GaboFDC  This issue is not yet implemented/closed, can I take the issue?

[2016-03-22 10:59] sebbrudzinski commented on #11
@sabbir044 There was no activity in this ticket for over half a year, so feel free to take it :)

[2016-03-22 18:32] sabbir044 commented on #11
@sebbrudzinski I am having a bit of problem here. I can add menuitem in menu and can response on click of menuitem using annotations (like other menuitems in menu package). But I want to add a JCheckBoxMenuItem but I dont know how I can do that. There are lack of resource in google and I am following The Definitive Guide to Netbeans Platform 7, where I did find anything to add  JCheckBoxMenuItem.

[2016-03-22 18:46] sebbrudzinski commented on #11
@sabbir044 I agree that NetBeans Platform documentation is hard to browse... I'm often having troubles finding something there as well. I've managed to find some links that seem to have what we want, but they are pretty old... I'm not sure how much has changed since NetBeans Platform 6.X but it's worth to give it a try:
 - https://blogs.oracle.com/geertjan/entry/jradiobuttonmenuitem_jcheckboxmenui

[2016-03-22 19:01] sebbrudzinski commented on #67
Fixed by @sabbir044, thank You :)

[2016-03-22 19:01] #67 closed

[2016-03-22 19:11] sebbrudzinski commented on #90
It seems quite promising to me. Looks like a nice and clean solution. I have only glanced through the article, but do you know if it would be possible to subscribe to a certain property change, rather than just PropertyChangeEvent? If not, every listener would be responsible for checking which property was modified and take action only if the property of the interest was changed.

[2016-03-22 19:17] sebbrudzinski opened #91 "Add ability to disable auto-complete popovers"
Since we already support changing the delay time for auto-complete popovers, we may also add the ability to disable the popovers at all. Some people may find them unnecessary or annoying and might want to turn them off. On UI, this should be a simple checkbox next to the auto-complete delay setting.

[2016-03-22 19:36] sebbrudzinski commented on #78
Fixed in https://github.com/sebbrudzinski/Open-LaTeX-Studio/commit/3020eeb7d383044be931682f76ae684baf977f68

[2016-03-22 19:36] #78 closed

[2016-03-22 22:02] sebbrudzinski opened #92 "Refactor dependency management to use Maven"
Use this doc while migrating: https://platform.netbeans.org/tutorials/nbm-maven-quickstart.html

Currently, Open LaTeX Studio does not make use of automatic dependency management. Each new library must be added "by hand", which means downloading the required jar, wrapping it as NetBeans Platform bundle and putting it into application. We should consider moving to automatized dependency management.

[2016-03-23 09:50] sabbir044 commented on #11
Thanks for resources. Implemented the feature :)

[2016-03-23 09:54] sabbir044 commented on #91
Going to implement it :D.

[2016-03-23 18:20] sebbrudzinski commented on #91
Fixed by @sabbir044

[2016-03-23 18:20] #91 closed

[2016-03-23 18:21] sebbrudzinski commented on #11
Great! I've merged the pull request so I'll close this issue now. Thanks @sabbir044

[2016-03-23 18:21] #11 closed

[2016-03-23 23:29] LordFarin commented on #90
I ended up reading a lot more about all that comes with settings management, listeners in Java, and more things. In the end I came up with a mechanism that:
* Bundles all the settings in a sub-enum of ApplicationSettings as the single source of truth;
* Connectedly, obfuscates the storage name of all settings;
* Uses the annotation @SettingListener to identify the methods that are supposed to hand

[2016-03-24 05:45] WhiteHsu commented on #83
Hello @sebbrudzinski
Thanks for your kind reply. I'll start to work on this on these days. Thank you very much.  :-)

[2016-03-26 09:34] WhiteHsu commented on #83
Hello @sebbrudzinski

After studying codes, I think we should insert codes into the class file latexstudio.editor.menu.SaveFile.java with similar codes to the SaveAs.java in the same package as below:
![pic01](https://cloud.githubusercontent.com/assets/7831418/14059301/efcd0b8a-f377-11e5-88c5-b69b9918cfdd.png)

However, before fixing this bug, may I ask a stupid question firstly? In my past experi

[2016-03-26 20:04] glandre commented on #83
Hi @WhiteHsu , I'm not entirely sure about the location of the "addActionListener" method. However, I suppose that it is taken care of by the Netbeans Framework.

Related to how to bind the Save button to "SaveFile", it's done by the SaveFile class annotations
[code]

Notice that the annotation `@Messages` is from NetbeansFramework (
`import org.openide.util.NbBundle.Messages;`

https://platform.n

[2016-03-26 23:14] sebbrudzinski commented on #83
@WhiteHsu @glandre
Geraldo has provided the answers to most of your questions. Take a look at his comment and feel free to let us know if anything is still not quite clear. We do not have to explicitly add action listeners, because the NetBeans Platform framework does it for us, just like a lot of other UI stuff. The actions are controlled via the annotations on the classes implementing ActionList

[2016-03-27 00:51] sebbrudzinski opened #94 "Display the username in the dropbox revisions list"
The dropbox revision list is opened by default when opening any file from Dropbox. In addition to the current data displayed (id, file size, date modified), we might want to verify if it is possible to fetch the name of the user that has modified the file.

[2016-03-28 03:26] glandre commented on #73
OK @sebbrudzinski, I've refactored the code. I think that organizing all Status' information in an Enum made the code much more elegant. Thank you.
Please, see if you have any more suggestion.

[2016-03-28 03:31] glandre commented on #88
Yes, they were tex files. Since I've been working on Dropbox connection feature, I was intending to solve this problem before. However, I was working on another feature, so I decided to document it to not forget it.

Now that I've finished my previous task, I will work on it, OK?
I'll test on Windows to see if it is a Linux only behavior, and I will also investigate the cause of this problem.

[2016-03-28 03:37] glandre commented on #86
Working on it.

[2016-03-28 06:40] glandre commented on #88
Hi @sebbrudzinski,
I did several tests here (only on Linux for now), and in fact it happens... In order to make sure, I followed the steps bellow:
- I let the Dropbox Webpage opened;
- I opened a file from Dropbox via OLS (all tex files were there);
- I open my dropbox directory and added a new tex file;
- I went to Dropbox Webpage and waited for the file to appear;
- After the file appeared in th

[2016-03-28 07:09] glandre commented on #88
I tested on Windows and it really doesn't happen... So it's pretty much a problem for Linux only...

[2016-03-28 08:36] glandre commented on #88
Oops! I tested on Windows the first time with my new code...
Now, on Windows, I've just executed the same steps I mentioned, and the problem happens too.

So it happens on both Linux and Windows... Probably the `searchFileAndFolderNames` uses some kind of cache...

[2016-03-28 08:48] sebbrudzinski commented on #88
This is strange behaviour indeed, I've tested it a while ago and it worked fine for me. The reason we use searchFileAndFolder names is to not fetch all the files from the Dropbox acc (which is usually a lot and would use a lot of resources). For the reproduction sake. What is the file name that you are uploading to Dropbox? Also, what is the path? (or how deep is the file placed)

[2016-03-28 08:54] sebbrudzinski commented on #73
Looks great now, I've merged the changes. I think I'll add the info about used images in the help -> about window. Thanks, @glandre

[2016-03-28 08:54] #73 closed

[2016-03-28 14:48] sebbrudzinski opened #95 "Replace default About page with our own one"
When user navigates to Help -> About, they are displayed a default NetBeans Platform about panel. We should replace it with our own panel. The things we may include are:
 - Application logo/splash screen
 - Short description
 - Some application settings, eg. application working directory, current OS, etc.
 - Credits/copyrights
 - License

[2016-03-28 15:13] sebbrudzinski commented on #90
@LordFarin I've reviewed the code and I like the approach. I was even thinking of making it even more generic - not only as a settings listener, but the generic publisher-subscriber implementation of the Open LaTeX Studio. Of course we couldn't avoid reflections, but it doesn't bother me much.

Honestly, I wouldn't bother with verifications of the method signature at a compile time. I'd just javad

[2016-03-29 15:16] WhiteHsu commented on #83
@glandre  @sebbrudzinski
Oh, I got it!! Thanks for your clear explanation!! This's my first time to use NetBeans, I've mostly adopted Eclipse before. It seems I should get more familiar with NetBeans especially for the Action Control Framework.

So I'm planning my next steps as below:
1. To study the Action Control Framework in NetBeans, this should be very important for further development tasks.

[2016-04-09 12:41] aQaTL commented on #27
As my first task, I think this one will be ok.

[2016-04-10 15:43] sebbrudzinski commented on #95
Fixed in https://github.com/sebbrudzinski/Open-LaTeX-Studio/commit/ef1e49b2f52827068fdf5a326a7357d16516dd58

[2016-04-10 15:43] #95 closed

[2016-04-11 14:32] WhiteHsu commented on #83
@sebbrudzinski @glandre
I've committed my code change and created a pull request:
https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/97

Because this's my first time to create pull request, please kindly help review and provide your valuable feedback. Any advice will be very appreciated. Thank you very much.

[2016-04-11 18:28] aQaTL commented on #27
For now, I have already created this:
![templatedialog](https://cloud.githubusercontent.com/assets/17130832/14437352/1a836346-0021-11e6-954d-6bf9d33fc12a.png)
You can find code and commits on my GitHub: [aQaTL's Open-LaTeX-Studio fork](https://github.com/aQaTL/Open-LaTeX-Studio)

How it works: firstly program checks if JTextArea (this one in second box) contains correct path to file - if yes, then

[2016-04-12 20:54] sebbrudzinski commented on #27
@aQaTL What exactly would the "Choose your own template" do? Concerning loading of the templates - first of all, we create multiple files under the application directory. You can take a look how it's done in the code. On the other hand, I'm not sure why would you want to place the templates in the app directory. I think they could be simply placed in the resources package in the codebase (unless y

[2016-04-12 21:06] aQaTL commented on #27
@sebbrudzinski I put templates in app directory, just to test if its working (and I thought that it's correct place), but I admit, that placing it in resources is smarter (I will move it). I am not planning to do templates section extendible - for that, I created "Choose your own template" section. So, this section would allow user to use his own LaTeX templates files (if it's doesn't make sense I

[2016-04-12 21:10] sebbrudzinski commented on #27
@aQaTL Correct me if I'm wrong, but I'm thinking that it would do exactly the same thing as "Open File", which we already have under the File menu. If that's the case, we should probably drop it.

[2016-04-12 21:18] aQaTL commented on #27
@sebbrudzinski Oh, That's true. I didn't think of it that way. Thanks for explaining. How about the rest of code (isn't it bad, too complicated, or something like that)?

[2016-04-13 19:16] sebbrudzinski commented on #27
@aQaTL I've taken a brief look only and it's not bad. One thing that caught my eye is the placement of braces. As per java and our project coding convention, the opening brace should be in the same line as the instruction (if/method/class etc.). Moreover, it would probably be better to design the panel using the NetBeans GUI designer, so other people can easily adjust it at a later point. I'll do

[2016-04-13 19:54] aQaTL commented on #27
@sebbrudzinski Braces placement aren't a problem, I can switch it in NetBeans options, press alt + shift + f and they will match to project convention (I forgot to do that before committing).
Today I realized that everything here is designed with the NetBeans GUI builder and it's a good idea to use it instead of hard-coding entire look. I think it's the easy part of this task. Once I have moved th

[2016-04-14 09:06] WhiteHsu commented on #12
@sebbrudzinski
Does this item still exist? If this has not been resolved, may I take to work?  :D

[2016-04-14 09:38] WhiteHsu commented on #87
@glandre
I'm interested in this item and trying to reproduce this issue but not sure if my reproducing steps are correct or not. The following are my steps and please kindly help confirm if I have any incorrect understanding:

1. Open a file "TestFile01" from Dropbox.
![pic01](https://cloud.githubusercontent.com/assets/7831418/14523448/68b5ad70-0266-11e6-9c8f-0329555afa8b.png)

2. Select the "View

[2016-04-14 17:06] sebbrudzinski commented on #87
@WhiteHsu This issue has aready been worked on and is awaiting approval in the pull requests: https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/89

[2016-04-14 17:07] sebbrudzinski commented on #12
@WhiteHsu It still hasn't been implemented so you are free to take it

[2016-04-14 17:32] glandre commented on #87
Hey guys,

I'm sorry for my absence these days. I started working on a new project at
work  so I am still getting used to my new routine. I will take a look at
the pull request ASAP.

Bests,
Geraldo
Em 14/04/2016 13:06, "Sebastian Brudziński" <notifications@github.com>
escreveu:

[2016-04-15 20:08] aQaTL commented on #27
@sebbrudzinski There's a big problem with operating on files inside the jar - everything in OpenLaTeXStudio uses File object and I can't create a File object from a jar resources(I tried many options). So, even if I load file, I can't pass anything to setCurrentFile method and NullPointerException occurs. I spent a lot of time thinking about it and.. How about placing these files in a jar and unpa

[2016-04-15 20:37] sebbrudzinski commented on #27
@aQaTL I think it's a wonderful idea to use templates from latextemplates.com  Thanks for contacting them about it. I've created a quick mockup, how selecting a template could look like. What do you think about it? I think it may make sense to specify source per single template, in case we use more templates from other websites in the future.
[Load_template_mockup.pdf](https://github.com/sebbrudzi

[2016-04-16 17:46] aQaTL commented on #27
@sebbrudzinski I am glad that you like my idea and I think that your vision makes sense.  Take a look at it:
![open_template_feature_implementation](https://cloud.githubusercontent.com/assets/17130832/14582593/070e5d24-040a-11e6-8872-aaf0c3b864e2.png)
I decided to specify information about templates in templates.xml file (stored in resources), so if somebody will want to add new template, just nee

[2016-04-17 08:38] sebbrudzinski commented on #27
Using XML to define templates sounds reasonable to me. I've taken a look at the code and there are some small issues, but in general it looks good. Feel free to open a pull request once it is ready.

[2016-04-19 21:37] sebbrudzinski commented on #90
Thank You @LordFarin! This was a big challenge and I'm happy we have managed to get the first version of the settings change provider working. I'll close this ticket as resolved now, but feel free to open new ones for the remaining work and/or new ideas.

[2016-04-19 21:37] #90 closed

[2016-04-20 20:48] sebbrudzinski commented on #27
Fixed by @aQaTL   Thank You! :)

[2016-04-20 20:48] #27 closed

[2016-04-20 20:53] sebbrudzinski opened #99 "Document the process of submitting LaTeX templates to Open LaTeX Studio"
#27 added the ability to use LaTeX templates in Open LaTeX Studio. The implemented solution made it easy to add more templates - all that must be done is putting the .tex template file in the correct directory and adding metadata about that template in the xml file. We should document that process on our wiki, so less technical contributors can submit their templates easily.

[2016-04-20 20:59] sebbrudzinski commented on #83
Closing this ticket as the issue has been fixed by @WhiteHsu. Thanks!

[2016-04-20 20:59] #83 closed

[2016-04-22 16:51] glandre commented on #87
Solved by @sebbrudzinski!

[2016-04-22 16:51] #87 closed

[2016-04-23 17:18] sebbrudzinski opened #100 "Add warning when trying to open file/template with unsaved changes"
At the moment, if user opens a file or a template, their changes to the current file are immadiately gone. We should present a warning and let the user decide what to do. (Abandon changes, Save changes and continue or cancel)

[2016-04-24 15:13] sebbrudzinski commented on #92
Introduced in d30b71594bff3ec6972f756e9c4986beed1a1755

[2016-04-24 15:13] #92 closed

[2016-04-25 17:47] aQaTL commented on #100
I see to ways of implementing this:
1. Just just create JDialog using JOptionPane;
2. Create custom JDialog window.
I created a something like a prototype (the first and easy option, so I didn't spend too much time on it):
![screenshot_20160425_192526](https://cloud.githubusercontent.com/assets/17130832/14792673/aa18c92e-0b1b-11e6-912b-e4eb8bdbb1be.png)
I tested it and it works good for me.
If you

[2016-04-26 18:14] sebbrudzinski commented on #100
@aQaTL  Concerning the approach, I think a simple JOptionPane is sufficient. I'd just extend the message to something along the lines: "You are about to close this file but have unsaved changes. Would you like to save the changes first?".

Concerning code, we should definitely not create some static methods in SaveFile nor in any classes that are registered via NetBeans Platform.  Moreover, there'

[2016-04-26 18:17] sebbrudzinski commented on #100
btw. creating a pull request when discussing the code is a good practice. I can leave some inline comments then, so you know which part I'm actually referring to.

[2016-04-26 20:10] LordFarin commented on #31
This is not a bug. This is because the default font encoding pdflatex uses isn't identical to what we expect for < and >. See https://tex.stackexchange.com/questions/2369.

Putting
\usepackage[T1]{fontenc}
at the top resolves the problem.

[2016-04-26 20:30] sebbrudzinski commented on #31
I'll be looking into upgrading to PDFBox 2.0 as a part of this ticket: #33 Unfortunately, 2.0 brings some breaking changes for us. I'll verify both tickets once we have upgraded.

[2016-04-26 21:15] LordFarin opened #102 "File-system change to edited file is not recognised"
I noticed the following:
1. Save file in OLS.
2. Edit file with Notepad++, save.
3. Alt-Tab back to OLS. Save again. No complaints, save simply executed.
4. Alt-Tab to Notepad++. Notepad++ complains that the content of the file changed and asks if it should be reloaded.

I think OLS should guard file integrity in the same way as NP++ does (ask for reload if no edits, ask for new save location/over

[2016-04-28 15:32] WhiteHsu commented on #12
@sebbrudzinski
Sorry to reply late because being so busy recently. I'll study codes and plan to start my work on this item on these days. Thank you.  :-)

[2016-04-28 20:09] aQaTL commented on #100
@sebbrudzinski Message extended. Take a look:
![screenshot_20160428_213649](https://cloud.githubusercontent.com/assets/17130832/14898858/602ef872-0d89-11e6-9d4e-02060710ea4a.png)
I moved openFile, saveFile and saveFileAs methods to a separate class, and made access for them from etc. It should make it easier to use them from other places in the program (for example etc.fileAction().saveFile();).

[2016-04-29 05:15] Amitbhave opened #103 "Adding "DownloadPDF" button in the "PDFPreview" panel"
Hi,

I was thinking about the following enhancement:

- Adding "DownloadPDF" button in the "PDFPreview" panel, so that if the user is satisfied, he can download the PDF right from there!

![preview-download](https://cloud.githubusercontent.com/assets/15723901/14908625/1b06fb78-0df7-11e6-9e83-36980062e72e.png)

- Let me know should I proceed working on this enhancement or not?

- If yes, I have to

[2016-04-29 05:38] sebbrudzinski commented on #103
There's already "Download PDF" icon in the toolbar (next to save/save as on your screenshot). I don't really think we need another one in the preview panel.

[2016-04-30 14:32] Amitbhave commented on #103
Ok.. So I close this issue then. Let me know if there are some open issues on which beginner like me can work.;)

[2016-04-30 14:32] #103 closed

[2016-05-01 06:52] sebbrudzinski commented on #103
@Amitbhave As a rule, we mark easier, good starter issues for new contributors with "community friendly" label. Take a look at open issues with that label that aren't taken and you are free to grab it.

[2016-05-01 20:29] sebbrudzinski commented on #33
I've updated the pdfbox version we use to 2.0.0, however there are some issues. When scaling the image up, at some point the renderer throws OutOfMemoryError. If anyone is interested in trying to resolve that problem, the progress is on [dev/new-pdfbox](https://github.com/sebbrudzinski/Open-LaTeX-Studio/tree/dev/new-pdfbox) branch.

[2016-05-18 06:35] WhiteHsu commented on #12
@sebbrudzinski
I'm investigating how to implement this feature and think there should be a place to keep information of the last opened file. After studying the class "OpenFile.java", I find we originally keep the "Last Dir" in the property file "settings.properties". So may I also keep the "Last Opened File" information here? Or do you recommend other ways to do this?
![image](https://cloud.githu

[2016-05-18 07:34] sebbrudzinski commented on #12
@WhiteHsu Sounds good to me

[2016-06-10 15:06] klhes opened #105 "Disable PDF Preview Previous/Next Buttons When Previous/Next Pages Do Not Exist"
Description:
The Previous and Next buttons on the PDF Preview window are clickable when previous and next pages do not exist.

Steps to Recreate:
1. Open LaTex Studio.
2. Leave the example welcome.tex file open.
3. Mouse over the Previous button. Notice that the button turns blue.
4. Click the Previous button. Notice that it is clickable, even though a previous page does not exist.
5. Steps 3 and

[2016-06-10 15:08] klhes opened #106 "Add Open LaTeX Studio Version Number to About Page"
Add the version number to the About page.

[2016-06-10 15:12] klhes opened #107 "Add a Keyboard Shortcut for Toggling Comments"
Add a keyboard shortcut for the Toggle Comment feature.

[2016-06-10 15:30] klhes opened #108 "Change Title of Save As File Chooser Dialog to 'Save As'"
The title of the 'Save As' file chooser dialog is currently 'Save'. Change it to 'Save As' to be consistent with the menu item.

[2016-06-10 15:41] klhes opened #109 "Fix Toggle Comment Multi-Line Selection Behavior"
Description: Toggling comments on a multi-line selection where lines have different comment statuses can result in odd behavior.

Steps to Recreate:
1. Open LaTex Studio
2. Open Existing Document
3. Highlight an uncommented line. There must be an uncommented line above it.
4. Click Toggle Comment.
5. Highlight a multi-line selection. The top line of the selection must be uncommented, and the selec

[2016-06-10 15:48] klhes opened #110 "PDF Preview Will Not Display Blank Document"
Description:
The PDF Preview window will not display a blank document.

Steps to Recreate:
1. Open LaTex Studio
2. Open Existing Document
3. Delete all content

Expected Result
When all content is deleted, the PDF Preview window will be blank.

Actual Result
The last content to be deleted remains in the PDF Preview window.

[2016-06-11 12:40] sebbrudzinski commented on #110
I think this is a problem that needs to be tackled at a higher level. The reason the PDF preview does not display a blank page is becuase it fails to generate a new one from the current source. When such failure occurs, the latest generated source remains in the preview. The question is, what we want to do when the preview cannot be generated. Hiding/blanking the page might not be the best idea, b

[2016-06-13 20:31] klhes commented on #110
That's a very good point regarding situations where a user is typing something that may not be compilable.

[2016-06-18 01:46] hkumar6 commented on #109
I worked on this and found a fix. What should be the expected result: Option 1 or 2?

[2016-06-18 08:33] sebbrudzinski commented on #109
@hkumar6 Can you open a pull request? I think option 1 doesn't make much sense. I can hardly imagine a situation where someone wants to "switch" lines that are commented. A more common situation is that someone wants to add more commented lines to already commented block of code, so option 2 seems like a good choice.

[2016-06-19 12:59] hkumar6 commented on #107
I was looking into how this could be done. I added the following line to the `ToggleComment` class that implements the `ActionListener`, taking `Ctrl-]` as the keyboard shortcut:
`@ActionReference(path = "Shortcuts", name = "D-CLOSE_BRACKET")`

But this does not work as I had expected. Any pointers on how to go about this?

[2016-06-19 20:26] klhes opened #112 "Add Cancel Button to Choose Template Dialog"
Add a Cancel button to the Choose Template dialog.

[2016-06-19 20:38] klhes opened #113 "Fix Package Installation Pop-Up When Opening Template"
Steps to Reproduce
1. Choose File -> Open Template
2. Select the Formal Letter Template
3. Click Load Template

Actual Result
After a few seconds, a Package Installation dialog will pop-up.  If the user does not choose Install or Cancel within a few seconds, the pop-up automatically closes.

Expected Result
The pop-up should not automatically close without user input.

[2016-06-19 20:59] klhes opened #114 "Preview Does Not Change After Generating Templete Preview"
Steps to Reproduce
1. Select File -> Open Template
2. Select Plain Cover Letter
3. Open the PDF Preview window if it's not open and check that the PDF preview for the template has been generated.
4. Select File -> Open File
5. Open a .tex file.  Notice that the PDF preview does not change.
6. Close Open Latex Studio
7. Start Open Latex Studio
8. Notice that the PDF Preview for welcome.tex is not g

[2016-06-19 21:15] klhes opened #115 "Template Opens Over Existing File"
Steps to Reproduce
1. Select File -> Open File
2. Select a .tex file and Open
3. Select File -> Open Template
4. Select Plain Cover Letter and click Load Template

Actual Result
The template content overwrites the open document's content. If the user saves the document, they will lose the original content.

Expected Result
When a template is opened, the user should be asked if they would like to s

[2016-06-19 21:25] aQaTL commented on #113
It depends of your LaTeX settings. This situation occurs if you selected sth like "ask me for installing package" during LaTeX installation. I fixed it by reinstalling LaTeX with "always install packages" option. I think (not 100% sure) that it's not Open-LaTeX-Studio issue.

[2016-06-19 21:31] sebbrudzinski commented on #113
As @aQaTL mentioned, those popups come from the LaTeX distribution, not from Open LaTeX Studio. Still, maybe it's worth investigating whether we can improve anything on our side, when user chose not to install packages automatically.

[2016-06-19 21:32] sebbrudzinski commented on #112
I suppose you can still close the dialog using "X", but yes, let's add cancel as well.

[2016-06-20 03:07] klhes commented on #113
Thanks for the clarification on the package install popups. I'm using MiKTeX.  I changed my settings to install packages automatically, and I'm no longer seeing the popups.

[2016-06-20 16:51] aQaTL commented on #112
Do you prefer cancel placement like this:
![cancelbuttoninopentemplate](https://cloud.githubusercontent.com/assets/17130832/16202789/86a3f522-3717-11e6-8c47-1c5827910bdb.png)
or like this:
![cancelbuttoninopentemplatev2](https://cloud.githubusercontent.com/assets/17130832/16202862/dbbde4fa-3717-11e6-962b-4de0038cc841.png)
or even somewhere else?

[2016-06-20 17:45] aQaTL commented on #115
I figured it out:
-when you opens new file, program calls method `setCurrentFile` from EditorTopComponent,
-it allows program to store info which file is currently opened,
-but, for now template is being loaded with this code:
`etc.setEditorContent(FileService.readFromStream(getClass().getResourceAsStream(templatesList.getSelectedValue().getPath())));`
-it just changes text in editor area,
-so, Ed

[2016-06-20 17:49] aQaTL commented on #112
Done, as I said in [Issue #115](https://github.com/sebbrudzinski/Open-LaTeX-Studio/issues/115) I committed changes to my [pull request](https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/104). Once more, sorry for that.

And, here is the screenshot of actual look:
![smallerbutton](https://cloud.githubusercontent.com/assets/17130832/16204617/ffe973e6-371f-11e6-90fb-71d86ec596ed.png)

[2016-06-20 17:57] aQaTL commented on #112
Oh, and some code of this issue was committed in "Issue #115 fixed commit". I know, I shouldn't work on everything at once.

[2016-06-21 19:48] klhes commented on #107
I've very new to Maven, but I think you need to run a Maven build after making an update to the ActionReference annotations.  To run the Maven build in NetBeans, right-click on the OpenLaTeXStudio-parent project and select 'Clean and Build'.

After the Maven build is complete, run the application, and the shortcut should work.

[2016-06-23 10:41] stefansbv commented on #106
In my proposed fix (mentioned above), the app version string is hardwired into the ApplicationUtils class, probably this is not the best approach, but it might work for now.

[2016-06-23 15:16] hkumar6 commented on #107
Thank you @klhes . That worked.
What should we use as the shortcut here? I have added `Ctrl-]` for now.

[2016-06-23 15:35] aQaTL commented on #107
How about `Ctrl + /` (slash)?

[2016-06-23 21:25] sebbrudzinski commented on #106
Hello @stefansbv
Please open a pull request if you consider the issue finished. We will then proceed with review and/or testing.

[2016-06-24 05:38] stefansbv commented on #106
Hello @sebbrudzinski
Done, thank you.

[2016-06-25 18:11] sebbrudzinski commented on #109
Fixed by @hkumar6  Thanks!

[2016-06-25 18:11] #109 closed

[2016-06-25 18:21] sebbrudzinski commented on #107
Fixed by @hkumar6
Thanks for answering the question @klhes  :)

[2016-06-25 18:21] #107 closed

[2016-06-25 18:38] sebbrudzinski opened #119 "Introduce Dependency Injection framework"
There are many places in the code where we either manually create objects or use utility classes. It would be good to refactor those to singletons and use a dependency injection framework for easier code maintainability.

We should first research NetBeans Framework DI capabilities. If they are not satisfying, we may look into Google Guice.

[2016-06-25 18:44] sebbrudzinski opened #120 "Handle long time operations better"
There are a few places in Open LaTeX Studio, where operations may take a considerable amount of time (especially, those requiring connection with external server - ie Dropbox support). Initiating such operation causes temporary application freeze at the moment, what is not the best. We should use Background workers and somehow signal that an operation is in progress.

[2016-06-25 18:53] sebbrudzinski opened #121 "Update "Start the application" point of the "Setting up development env" wiki page"
The project structure have changed a bit after we have introduced Maven as our build framework. This should be reflected on our wiki page.

https://github.com/sebbrudzinski/Open-LaTeX-Studio/wiki/Setting-up-development-environment

[2016-06-25 20:27] andyzen619 commented on #99
Hi sebbrudzinski,

I am new to open source and Git Hub and thought that updating the wiki would be a good place to start. I am confused as to whether I have to submit a pull request for the wiki update or if I just create a new page and save it.

Thanks,
Andy

[2016-06-25 20:42] sebbrudzinski commented on #99
Hello @andyzen619

Please go ahead and create a new page :)

[2016-06-25 20:47] andyzen619 commented on #99
Okay done. Let me know if there anything is wrong.  I look forward to contributing to this project in the future :)

[2016-06-25 20:55] sebbrudzinski commented on #99
@andyzen619 It looks good. I did some formatting improvements. Can you also add a note to always get author's permission first, before adding the template?

[2016-06-25 21:03] andyzen619 commented on #99
Okay done. I added the note on the bottom.

[2016-06-27 17:23] Amitbhave commented on #105
Hi, I want to work on this issue.
Currently I am facing the following problem while running the project. I am getting following exception:

**java.lang.OutOfMemoryError: Java heap space**
	at java.awt.image.DataBufferInt.<init>(DataBufferInt.java:75)
	at sun.awt.image.ImageRepresentation.convertToRGB(ImageRepresentation.java:284)
	at sun.awt.image.ImageRepresentation.setPixels(ImageRepresentation.

[2016-06-28 18:11] Amitbhave commented on #105
Issue fixed. Please find the pull request.:)

[2016-06-29 06:20] Amitbhave commented on #105
@sebbrudzinski @klhes can you please verify the fix?

[2016-06-29 15:03] WhiteHsu commented on #12
@sebbrudzinski
Please kindly help review my codes and provide your valuable feedback. Thank you very much.  :-)

[2016-07-01 15:30] WhiteHsu commented on #12
@sebbrudzinski
I've updated codes again based on the latest project version. Please kindly help review. Thank you very much. :-)

[2016-07-03 14:28] sebbrudzinski commented on #108
Fixed by @klhes Thanks :)

[2016-07-03 14:28] #108 closed

[2016-07-03 14:36] sebbrudzinski commented on #99
Fixed by @andyzen619  Thanks!

[2016-07-03 14:36] #99 closed

[2016-07-09 20:36] sebbrudzinski commented on #12
Fixed by @WhiteHsu   Thanks!

[2016-07-09 21:03] #12 closed

[2016-07-14 05:22] andyzen619 commented on #112
Is this issue still open ?

[2016-07-15 10:08] WhiteHsu commented on #21
Have anybody worked on this? If not, may I give it a try?

[2016-07-15 10:10] sebbrudzinski commented on #21
@WhiteHsu It's yours! Good luck :)

[2016-07-18 17:01] sebbrudzinski commented on #100
@aQaTL  has fixed this

[2016-07-18 17:01] #100 closed

[2016-07-18 17:02] sebbrudzinski commented on #115
Fixed by @aQaTL

[2016-07-18 17:02] #115 closed

[2016-07-18 17:02] sebbrudzinski commented on #112
Fixed by @aQaTL

[2016-07-18 17:02] #112 closed

[2016-07-18 17:18] sebbrudzinski opened #125 "Refactor Editor state to a new class"
We currently keep a bunch of flags/fields and methods, that indicate the current state of the Editor, directly in the EditorTopComponent. To avoid this growing too large and also for the better readability, we should refactor this to a new class, called "EditorState" and keep those fields and methods there.
Those fields include:
[code]
and all should be moved to a new class. The EditorTopComponent

[2016-07-27 00:59] brendajean1123 commented on #125
Hi, I would like to take a stab at this issue.  I am new to recent development.  I forked this repository to mine and added a file, EditorState.java, and made some changes to EditorTopComponent.java to create an instance to use instead of the local variables.  Have yet to learn how to do a "Pull Request."

[2016-07-27 01:30] brendajean1123 commented on #125
Not sure how this system works, so here is my github:
https://github.com/brendajean1123/Open-LaTeX-Studio.

[2016-07-31 14:38] KalKolberg opened #128 "Loading template does not change file"
Loading in a template while another file is open, loads the template but leaves the same file name thus opening the possibility of overwriting a file that has nothing to do with the new document.

[2016-07-31 18:23] KalKolberg commented on #113
All that's happening with autoinstall is just masking the issue.  There is a real issue in the dialog message timing out before user hit's install or cancel.  Definitely worth looking into.

[2016-07-31 18:25] KalKolberg commented on #114
Happens on more than just templates.  Switching files isn't updating the PDF preview most of the time on my system. Will have to investigate once I can get the code built.

[2016-08-02 09:23] WhiteHsu commented on #21
@sebbrudzinski

After some study, I have question to this feature and would like to ask your suggestion.

For current version, the update will sync to Dropbox unless clicking the "Save Progress" option. After clicking it, update will not only sync to Dropbox but there'll be new record created on the "Dropbox Revisions" list on the table below.
![pic01](https://cloud.githubusercontent.com/assets/78

[2016-08-02 13:49] WhiteHsu commented on #21
@sebbrudzinski

After some study, I have question to this feature and would like to ask your suggestion.

For current version, the update will sync to Dropbox unless clicking the "Save Progress" option. After clicking it, update will not only sync to Dropbox but there'll be new record created on the "Dropbox Revisions" list on the table below.
![pic01](https://cloud.githubusercontent.com/assets/78

[2016-08-02 18:15] sebbrudzinski commented on #21
@WhiteHsu We do not really have any choice here. The "Dropbox Revisions" list is managed by Dropbox itself. Every time a save to the file occurs, Dropbox automatically creates a revision entry I haven't done much research concerning this, but I believe there's no way to turn this off - feel free to verify.

Having said that, I guess we are fine with having a lot of revision records for now. Perhap

[2016-08-03 03:30] klhes commented on #128
Is this the same issue as closed issue [#115](https://github.com/sebbrudzinski/Open-LaTeX-Studio/issues/115)?  @KalKloberg - did you find this bug in the release version?

[2016-08-03 04:04] klhes commented on #114
I've looked into this issue a little more, and here's what I've found:

- After opening a document or template that uses the LaTeX Letter class, the preview will not change unless a document that also uses the Letter class is opened.  Basically, once a Letter document is opened, only Letter previews will be generated.

- The preview also locks up when the Multi-Purpose Title Page template is opene

[2016-08-05 08:48] aQaTL commented on #128
As @klhes this has been fixed in #115. Now, when you open a template over existing file and try to save it, program invokes "Save As" action.

[2016-08-06 21:33] KalKolberg commented on #128
Issue was with 1.4 version.

[2016-08-07 22:49] KalKolberg opened #130 "Zoom not working right in /dev/new-pdfbox"
The zoom isn't working correctly in the new code.  It just gives a portion of the image so with 50% zoom it's just showing half the image of the page.  So basically it's not zooming at all it's cropping the page image.

[2016-08-07 23:31] KalKolberg commented on #130
Seems to work fine if zoom is 100% or more, issue creeps in when the zoom is less than 100%

[2016-08-07 23:50] KalKolberg opened #131 "No out of range checking on pages. /dev/new-pdfbox"
The new code doesn't check for page ranges.

To Duplicate: open multi-page document click next a few times on the PDFViewer to advance the pagecount.
Load welcome.tex which is a single page file.   Error is generated as PDFPreviewBuilder tries to go to the current page number in a document where it does not exist.

[2016-08-08 00:12] KalKolberg opened #132 "Text highlighting fails for \%"
Open document
Insert \% into the document then put some text after that.
The editor incorrectly parses the % as a comment whereas it is actually placing an % into the text.

[2016-08-08 00:19] KalKolberg opened #133 "PDF Preview stops updating"
Not sure what is causing this issue yet, but PDF Preview frequently stops updating.  I suspect it loses track of the viewer at some point and therefore rather than pointing to the current window it's pointing to a window that is no longer in use.   Further investigation required to get repeatable demonstration of the problem.

[2016-08-08 00:22] KalKolberg commented on #133
Note this might not be a problem with the Preview page at all.  Generating PDF code while in this state gives the same incorrect view.  Perhaps it's a problem with the temp PDF file.

[2016-08-08 00:29] KalKolberg opened #134 "Same position for toggle comment and undo action"
Found this little problem in the log file.  I assume it is a bug.

WARNING [org.openide.filesystems.Ordering]: Found same position 200 for both Menu/Edit/latexstudio-editor-ToggleComment.shadow and Menu/Edit/org-openide-actions-UndoAction.shadow

[2016-08-08 00:32] KalKolberg commented on #133
Looks like the problem comes from any error in the tex file.  If anything is broken PDF Preview will not show an update until the problem is fixed.  Need to look into pdfbox and see if we can get any feedback when there is a failure.

[2016-08-08 00:48] KalKolberg commented on #33
Looks like the out of memory error is tied to the scaling not working.  The returned image expands in size until it's too large, not sure of the actual implementation.

[2016-08-08 00:55] KalKolberg opened #135 "Automatic completion is overzealous"
I'm finding that when typing in commands the autocompletion is autocorrecting my work and causing issues.  For instance:

When typing \section{Quadratic Formula} I frequently got to the Quad part and had the autocorrector change it to quad before I was able to complete the word.   It requires constant review to insure that the work hasn't been "corrected" incorrectly.

[2016-08-08 01:19] KalKolberg opened #136 "Editor visual error"
Occassionaly the editor starts to displace the current selected panel at the cursor in the edit window.  This  causes visual errors such as the following.
![open latex studio visual error](https://cloud.githubusercontent.com/assets/762303/17466822/9cbdfaea-5ce4-11e6-8997-24949fbbbad4.png)

[2016-08-08 03:42] KalKolberg commented on #131
#137 adds bounds checking back into the system.

[2016-08-08 03:52] KalKolberg commented on #130
Note that while the zoom has been reset to what worked before, that code also has a OutOfMemory Issue.  I'll look into scaling the image further and find out what can be done to fix the problem.  As of now the imaging < 100% zoom is working correctly.

[2016-08-08 03:53] KalKolberg commented on #33
Looks like the old method for zooming had issues as well, still ongoing in order to generate a fix for the issue.

[2016-08-10 08:22] WhiteHsu commented on #21
@sebbrudzinski
OK, I got it. Thanks for your reply. I'll update codes on this way.  :-)

[2016-08-14 17:31] KalKolberg commented on #132
The underlying code that does the syntax highlighting is org.fife.ui.esyntaxtextarea.  I've added an issue to their github repository at [https://github.com/bobbylight/RSyntaxTextArea/issues/193](https://github.com/bobbylight/RSyntaxTextArea/issues/193).  Not much more that can be done in our application.

[2016-08-14 19:01] sebbrudzinski commented on #132
@KalKolberg Thank You for filling the bug against RSyntaxTextArea. It would be best if they managed to fix it so we can just bump the version when they release!

[2016-08-23 16:45] sebbrudzinski commented on #132
It seems like they have fixed the issue on the master branch. We should consider updating, once they have a new release. Thanks again @KalKolberg !

[2016-08-23 16:49] sebbrudzinski commented on #133
We currently treat it as a feature, not a bug. The pdfbox cannot provide us with any information, because it does not even get to render the image if there's a problem with the tex file. What currently happens is that when LaTeX distribution is unable to generate a PDF from the provided source, we just leave the previous one on display. Changing this behaviour (to what?) is a part of this ticket:

[2016-08-23 16:49] #133 closed

[2016-08-23 16:51] sebbrudzinski commented on #136
That's an interesting one, but I haven't been able to reproduce this yet.

[2016-08-23 16:52] sebbrudzinski commented on #135
We heavily rely on autocomplete library for this feature, so we may need to investigate whether there's a simple fix for this. Btw. auto complete can be switched off completely or configured in the application settings.

[2016-08-28 20:30] sebbrudzinski commented on #106
Fixed by @stefansbv  Thanks!

[2016-08-28 20:30] #106 closed

[2016-08-28 20:32] sebbrudzinski opened #141 "Make welcome.tex file use application version from pom file"
We currently define the application version in pom files. It would be nice if the welcome.tex file (the starting file) would display the version taken from the pom file, rather than using a hardcoded one.

[2016-08-30 19:46] sebbrudzinski commented on #131
This should be working now.

[2016-08-30 19:46] #131 closed

[2016-08-30 19:46] sebbrudzinski commented on #130
This should be working now.

[2016-08-30 19:46] #130 closed

[2016-08-30 19:48] sebbrudzinski commented on #33
Should be fixed by https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/140

[2016-08-30 19:48] #33 closed

[2016-08-30 19:48] sebbrudzinski commented on #31
Should be fixed by https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/140

[2016-08-30 19:48] #31 closed

[2016-09-02 15:40] WhiteHsu commented on #21
@sebbrudzinski
I've raised pull request but it got failed on Travis CI:
https://travis-ci.org/sebbrudzinski/Open-LaTeX-Studio/jobs/157129183

Because I'm not familiar with Travis CI, may you help guide me how to view the root cause of CI failure? Thank you very much.

[2016-09-02 15:44] sebbrudzinski commented on #21
@WhiteHsu Scroll to the bottom of the output and you will see a list of the checks that failed, right above the build summary.

[2016-09-02 15:59] WhiteHsu commented on #21
@sebbrudzinski
Thanks for reply. I find it and already fix now. Please help review my code updates. Many thanks.  :-)

[2016-09-24 05:34] WhiteHsu commented on #21
@sebbrudzinski
I have committed and pull request for this item but not gotten further response. May you kindly help check my updates and provide your valuable feedback? Please kindly let me know if there's anything wrong and where I should refine and improve (my Email is hsnu97526@gmail.com). Thank you very much.  :-)

Here's the URL of Pull Request:
https://github.com/sebbrudzinski/Open-LaTeX-Stu

[2016-09-24 14:38] sebbrudzinski commented on #141
Fixed by @andyzen619  Thanks!

[2016-09-24 14:38] #141 closed

[2016-09-24 14:52] #125 closed

[2016-09-24 14:59] sebbrudzinski commented on #132
Fixed in 23836d6155b4fb688f250404237bd20f795c728f

[2016-09-24 14:59] #132 closed

[2016-10-19 22:16] angelabp commented on #16
maybe an idea to implement http://languagetool.org/ ?

[2016-10-20 20:13] sebbrudzinski commented on #16
Thanks for the link @angelabp  It's worth investigating that tool.

[2016-11-13 12:36] sebbrudzinski commented on #21
The basic auto-sync has been implemented by @WhiteHsu so I'm closing this ticket. Improvements/enhancements to the existing auto-sync should have new tickets opened.

[2016-11-13 12:36] #21 closed

[2016-11-14 04:13] WhiteHsu commented on #21
@sebbrudzinski
Thanks for your help.  I'll pick another ticket to work.  :-)

[2016-11-25 07:23] WhiteHsu commented on #16
@sebbrudzinski
I'm interested in this, but does anyone has experience with https://languagetool.org/ previously? Or is there any other recommended way to implement this feature?

[2016-11-25 20:21] sebbrudzinski commented on #16
Hello @WhiteHsu
We have no previous experience with LanguageTool. The first step in this ticket would be to familiarize with it and investigae whether we can use and if it helps us. Of course we can use any other tool/library as well.

[2016-11-26 12:25] WhiteHsu commented on #16
I have some fast investigation and find there're some tools mentioned in internet discussions. I list them with information I know so far:
- Suggester
	- URL: http://www.softcorporation.com/products/spellcheck/
	- Supported Languages: http://www.softcorporation.com/products/spellcheck/dictionaries/
	- The Latest Release: 17 Aug, 2013
	- License: http://www.softcorporation.com/products/spellcheck/L

[2016-11-27 15:05] sebbrudzinski commented on #16
Thanks for this investigation @WhiteHsu It seems like all we need at this point is Java API. I think giving Language Tool a shoot first is a good idea.

[2017-01-16 15:27] WhiteHsu commented on #16
Sorry for late update because being too busy previously. I'll continue my development on this workitem in these days.

[2017-01-17 16:08] WhiteHsu commented on #16
@sebbrudzinski
Because I'm not very familiar with NetBeans IDE, I encounter several questions and would like to ask your suggestions:

1. In order to adopt Language Tool, we need to include its JAR library files. However, under the project file structure, I don't find a folder named "libs" or similar ones, so where do you suggest to put these JAR files under the project "OpenLaTeXStudio"?
![defaul

[2017-01-17 16:15] sebbrudzinski commented on #16
@WhiteHsu We use Maven, that handles the dependencies and external libraries. LanguageTool explains how to add their library to an existing Maven project here: http://wiki.languagetool.org/java-api (it should be as simple as adding a few lines in pom.xml)

[2017-01-29 19:35] evaliotiri opened #147 "Update wiki page with the LaTeX distribution’s path"
The setting of LaTeX distribution’s path which is not clearly defined in the wiki page “Setting up development environment”. Another user had the same problem and mentioned it in the [mailing list](https://groups.google.com/forum/#!searchin/open-latex-studio/latex$20distribution%7Csort:relevance/open-latex-studio/YPG79am3CxE/wCiK14Z6kgIJ).

 So, it would be helpful and practical the wiki page to b

[2017-02-02 16:11] WhiteHsu commented on #16
@sebbrudzinski
Thanks for your feedback. Now I'm working on this and would like to highlight the incorrect spelling check as below:
![default](https://cloud.githubusercontent.com/assets/7831418/22555416/9537890c-e99e-11e6-9985-3f08ddd25d7b.png)

So far I can import LanguageTool for spell checking, and the next is try to highlight words as screen above. However I have few questions and would like t

[2017-02-03 10:26] WhiteHsu commented on #16
@sebbrudzinski
I've checked in updates for this new feature. Here're some points about this feature:

- For now there's a new green icon as screen below:
![default](https://cloud.githubusercontent.com/assets/7831418/22587682/ab11cf7c-ea3d-11e6-84ba-9457197f0691.png)

- After clicking this icon, it'll execute spell check and highlight incorrect words:
![default](https://cloud.githubusercontent.com/

[2017-02-09 14:30] hkalalo commented on #121
Hi,
I see this is already open for a while. I would like to give it a try to update this.

[2017-02-09 16:57] sebbrudzinski commented on #121
@hkalalo feel free to work on it!

[2017-02-13 20:06] hkalalo commented on #121
Hi Sebastiaan @sebbrudzinski ,
I've edited the page with some adjustments that reflects the new structure and also took in #147 LaTeX distribution path. Can you verify/check and let me know this is what you expected to be changed?

thanks
Henri

[2017-02-14 15:07] WhiteHsu commented on #16
@sebbrudzinski
Is there anything able to improve or enhance? Please kindly help review and provide your valuable feedback on my check-in. Thank you very much.  :-)

[2017-02-14 21:36] sebbrudzinski commented on #121
Hi @hkalalo
thanks, I think it looks good. One thing that I would add is that if developers cannot see any changes in the application after they make changes in the code and build it, si because they need to run "clean" task on the root project before they build it. I'll also have to move the images to the gh-pages branch of Open LaTeX Studio, unless you want to open a pul request for that. Thanks

[2017-02-14 21:37] sebbrudzinski commented on #147
This should be clearly explained now. Closing.

[2017-02-14 21:37] #147 closed

[2017-02-14 21:57] sebbrudzinski commented on #16
@WhiteHsu sorry for delay. Thanks for the pull request, I've reviewed it now. Overall this works, but we need to improve several things in the code.

[2017-02-15 07:05] hkalalo commented on #121
Ok, great, glad I can help in this. I will add a note about the clean task.
About the pictures:yes, I tried to make a pull request for that, but didn't manage to do it since for the wiki only cloning to local is possible. Then I saw the previous picture were located at your github.io page, so I followed that approach for now. I will give it another try today or tomorrow to make a pull request.

[2017-02-17 17:57] hkalalo commented on #121
Hi @sebbrudzinski Sebastian,
I've added a small note about the clean task in case changes in the code are not reflected in the application after a rebuild.
I've really tried to make a pull request for the images, but I can only clone the wiki locally and there is no option to fork or create a branch.
I can attach them here if that would make it easier, so you'd have them in one place. If you'd the

[2017-02-21 16:05] WhiteHsu commented on #16
@sebbrudzinski
Thanks for your review comments. I've updated codes based on your review comments. Please kindly help check again and provide your feedback. Thank you very much. :-)

[2017-02-26 19:27] sebbrudzinski commented on #121
@hkalalo Actually you don't have to clone the whole wiki (and yes, I believe that indeed isn't possible). What you can however do is upload the images to the gh-pages branch (directory images). This will cause that they are available under "http://sebbrudzinski.github.io/Open-LaTeX-Studio/images/". You will have to open a pull request for that, since the "gh-pages" branch is protected, similar to

[2017-02-27 18:15] sebbrudzinski commented on #16
Fixed by @WhiteHsu  New tickets will be created to expand and improve the current spell check

[2017-02-27 18:15] #16 closed

[2017-03-13 15:42] WhiteHsu opened #149 "More features on spell checking"
To enhance the feature of spell checking, including:
1. Automatically execute spell checking instead of manual trigger.
2. Implement another separate thread for automatic spell checking.

P.S. For enhancement to select the highlight color, we'll create another ticket.

[2017-03-13 15:42] WhiteHsu commented on #149
@sebbrudzinski
In addition to the two features mentioned above, do you recommend more others?  :-)

[2017-03-13 17:58] sebbrudzinski commented on #149
@WhiteHsu I think it would be great if the spell checking was happening in its own, separate thread. That way the application won't "hang" when the spel checking is being performed. This will be especially useful when the spell checking happens automatically. I think this could look very similar to how updating the PDF preview works, using the "dirty" flag. The PDF Preview thread checks every few

[2017-03-19 15:59] WhiteHsu commented on #149
@sebbrudzinski
Thanks for your feedback. I've updated this ticket accordingly. If you think this new ticket description is OK, please assign this ticket to me, and I'll start to work on this. Thank you very much.  :-)

[2017-03-22 07:00] Amitbhave commented on #102
Hi, is anyone working on this? Or can I start working on this? @sebbrudzinski

[2017-03-23 15:11] WhiteHsu commented on #149
@sebbrudzinski
If you think my modification on this task is OK, please assign this task to me, then I'm starting to my development. Thank you.  :-)

[2017-03-23 16:17] sebbrudzinski commented on #149
@WhiteHsu Yes, this looks good. You are welcome to work on that. Sorry for late response, I'm travelling and have limited access.

[2017-06-01 09:47] WhiteHsu commented on #149
@sebbrudzinski
I've updated and checked in codes as the pull request:
https://github.com/sebbrudzinski/Open-LaTeX-Studio/pull/150

Please kindly help review and feedback. Thank you very much.  :-)

[2017-06-07 18:09] hkalalo commented on #121
hi @sebbrudzinski , sorry for the delay, I was distracted for a while by work . I've tried this again and also searched the web for more info. Either I must be doing something wrong or unlike the normal github repository the gh-pages (wiki's) don't allow pull requests (also see http://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html)
If you would be able to upload the

[2017-06-11 13:55] sebbrudzinski commented on #121
@hkalalo I think the "gh-pages" should have the pull requests enabled. Anyways, I can move them myself and will do so when time allows. I think we can consider this closed. Thanks @hkalalo !

[2017-06-11 13:55] #121 closed

[2017-07-06 20:20] sebbrudzinski commented on #149
Closing as fixed.

[2017-07-06 20:20] #149 closed

[2017-07-20 04:44] revanth844 commented on #25
I started on this project only today, cloned the code and built it. For the first time when running the application, no preview was available. When trying to export PDF, nothing was happening after file-selection. Only after looking into the logs, found that pdflatex is not configured yet. This should ideally be shown as message-box, as it is a core requirement.
Typical users will not be aware of

[2017-07-20 06:19] sebbrudzinski commented on #25
@revanth844 That sounds like a great addition to me

[2017-08-18 08:52] WhiteHsu commented on #25
@revanth844
How about the progress and status on this enhancement?   :-)

[2017-08-21 18:09] revanth844 commented on #25
I'm sorry, I couldn't progress on this enhancement, at all. It took me whole night to just download LaTeX libraries and since then I've been struck with my regular work.

[2017-08-22 15:52] WhiteHsu commented on #25
@revanth844
That's OK. There's no hurry. Please take your time and let us know if you need any support. Thank you.  :-)

[2018-02-06 06:34] Suleman-Elahi opened #151 "Error connecting to dropbox"
![image](https://user-images.githubusercontent.com/24384996/35844916-dcb82886-0b35-11e8-90e6-b00ba7ff6c41.png)

After entering correct access token, then application failed to connect.

[2018-02-15 22:34] sebbrudzinski commented on #151
Thanks for reporting @Suleman-Elahi , I'll try to get to this sometime soon. My guess is that this is due to Dropbox disabling support for their v1 API. This also means that Open LaTeX Studio will need a new release, and only that new release will have the Dropbox support working correctly.

[2018-02-26 08:32] glandre commented on #151
Hey @sebbrudzinski, how's everything? It's been a while, I know...

Your guess was correct. I did some debug here, and the problem was a `Bad Request (400)` response from the deprecated method `getAccountInfo`.

There are lots of places to change, but in general, the changes are simple. let me know if you already have some work in progress... Otherwise, I can work on it.

Actually, I started to wo

[2018-02-26 18:14] sebbrudzinski commented on #151
Hey @glandre  - great to hear from you. I've also started working on it and was also planning to upgrade straight to v3. I'm happy to let you continue, but if you get stuck on something, let me know and I'll take a look. I'm also happy to test once all is done.

[2018-02-26 22:03] glandre commented on #151
@sebbrudzinski, I'm glad to be back!
I'll try to send a PR to you by this weekend.
Cheers!

[2018-04-10 19:05] sebbrudzinski commented on #151
Fixed by @glandre - closing

[2018-04-10 19:05] #151 closed

[2018-04-10 19:09] sebbrudzinski opened #153 "Follow last page feature"
The application should allow the user to enable following the last page of the document on the live preview in the application. Whenever the user is viewing the last page on the live preview and during the edition of the document, the number of pages increases, the user is automatically moved to the last page.

Acceptance criteria:
1. Setting to enable/disable following last page is available for

[2018-04-29 14:01] sebbrudzinski opened #154 "Cannot launch Open LaTeX Studio on Ubuntu"
Apparently there's some problem with the OpenLaTeXStudio/application/src/main/build/launcher.conf file. It works on Windows, but not on Ubuntu. Commenting the line resolves the issue, but we need to be able to set Java max heap size on launch.

[2018-04-29 18:45] sebbrudzinski commented on #154
Fixed

[2018-04-29 18:45] #154 closed